body {
    font-family: GFS Didot, sans-serif; 
    margin-top: 10;
    padding: 0;
    background-image: url(Gol-Bola-96-carros-populares-antigos-2.jpg);
   /* background-size: cover; */
    color: #000000; 
}

header {
    text-align: center; 
}

nav {
    background-color: transparent; 
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0; 
    text-align: center; 
}

nav ul li {
    display: inline; 
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold; 
}

.content {
    text-align: center;
    padding: 20px; 
}

.button {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #241a30; 
    color: #000000; 
    text-decoration: none; 
    font-weight: bold;
    border-radius: 5px; 
}

.footer {
    text-align: center; 
    padding: 1px; 
    background-color: transparent; 
    color: #000000; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 20px; 
}

.square-block {
    background-color: #201633;
    color: #000000;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-bottom: 470px; 

.square-block h2 {
    font-size: 24px;
}

.square-block p {
    font-size: 18px;
}


.form-field {
    width: 100%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #201633;
    color: #000000;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #000000;
}



form input,
form textarea {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
    border: 4px solid #000000;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 20px; 


form input[type="submit"] {
    background-color: #000000;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 150px;
    cursor: pointer;
    font-size: 18px;
}

.text-block {
    width: 300px;
    background-color: #201633;
    color: #000000;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.text-block h2 {
    font-size: 24px;
    margin: 0;
}

.text-block p {
    font-size: 18px;
    margin: 0;
}

html
{
  position:fixed;
  width:100%;
  height:100%;
}