/* style.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('gol-bola-gti-rebaixado.jpg'); /* Especifique o nome da sua imagem de fundo */
    background-size: cover; /* A imagem de fundo cobrirá todo o corpo */
    background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
    background-attachment: fixed; /* Mantém a imagem de fundo fixa na tela enquanto você rola */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Adiciona um espaço acima e abaixo da barra de navegação */
    text-align: center; /* Centraliza o conteúdo */
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff; /* Adiciona uma borda branca aos botões */
    padding: 5px 15px; /* Adiciona espaço interno aos botões para melhorar a aparência */
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #555;
    margin: 20px 0;
}
